node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Common additional Hardhat/Solidity files you might want to ignore
coverage
coverage.json
typechain
typechain-types
dist
temp
.DS_Store
**/.DS_Store